<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">		
		 <encoder>
    		<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
  		</encoder>
	</appender>
	
	<!--
		Notice it is not possible to set damned c3p0 logging from here, 
	    see https://github.com/DavidLeoni/diversicon/issues/5	
	     
		<logger name="com.mchange.v2.c3p0" level="warn"></logger> 
	 -->

	<root level="all">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>